body{
    background-image: url(../assets/images/fondDOP.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position-x: center;
}




// header// // header// // header//

.logo {
   width: 320px;
   cursor: pointer; 
   
}

p, .titre, footer, span, .button{
   color: $txt-color;
   font-family: 'Quicksand', sans-serif;
}

p{
   font-size: $textmob;
   line-height: 1.4;
}
.titre--deux{
   font-size: $titremob-deux;

}
.titre--un{
   font-size: $titremob-un;
}

header{
   text-align: center;
   height: 100vh;
   margin-top: 15vh;
}

.fleche{
    width: 51px;
    margin-top: 20vh;

}

//main// //main// //main//

.contenue__ecout--icone, .contenue__apprend--icone{
   height: 180px;
   margin: auto;
   display: flex;
   margin-bottom: 51px;
}

.contenue{
   margin: 0px 18px 72px 18px;
   
  


}
.contenue__ecout {
   margin-bottom: 102px;
   border-bottom: 2px solid $txt-color;
   border-radius: 1px;
   
}

main {
    margin-bottom: 203px;
}
.contenue__ecout p, .contenue__apprend{
   margin-bottom: 102px;
   
   
}

.contenue__img{
    height: 250px;
    width: 100%; 
    
}

.button{
    text-align: center;
    background-color: $txt-color;
    text-decoration: none;
    padding: 18px 25px 18px 25px;
   margin: 0 auto 0 auto;
   
    color: $fond-color;
    border-radius: 20px;
}

.contenue--slider{
    box-sizing: border-box;
    position: absolute;
    width: 381px;
    height: 270px;
    left: -4px;
    top: 108px;
    overflow-x: scroll;

    background: rgba(105, 122, 151, 0.5);
    border: 1px solid #F7F7F7;
}



.navfo__liste--li a, .footer__info a {
   color: $txt-color;
   text-decoration: none;
   padding: 5px;
   border-radius: 10px;
   }
   
 .navfo__liste--li a:hover, .footer__info a:hover:not(.footer__info--nohover) {
    background-color: $txt-color;
    padding: 6px;
    color: $fond-color;
   
}

.navfo__liste--li a:visited, .footer__info a:visited:not(.footer__info--nohover) {
   border-bottom: 2px solid $txt-color;
}


//footer// //footer// //footer//

.footer__info {
   padding: 9px 0 9px 0;
   text-align: center;
   font-size: $textmob;
    font-weight: normal;
   text-decoration: none;
}

.footer__info p{
   width: 100%;
}

.footer__info--logodwm{
   height: 40px;
   width: 60px;
}

/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){



// header// // header// // header//


p{
   font-size: $texttab;
   line-height: 1.5;

   padding-right: 20px;
   
}
.titre--deux{
   font-size: $titretab-deux;

}
.titre--un{
   font-size: $titretab-un;
}

header{
   text-align: center;
   height: 100vh;
   margin-top: 22vh;
   padding: 0px 113px 0px 113px;
}

.fleche{
    width: 57px;
    margin-top: 35vh;

}

//main// //main// //main//

.contenue__ecout--icone, .contenue__apprend--icone{
    height: 180px;
    margin: auto;
    display: flex;
    margin-bottom: 57px;
 }
 
 .contenue{
    margin: 0px 113px 80px 113px;
 
 
 }
 .contenue__ecout {
    margin-bottom: 113px;
    border-bottom: 4px solid $txt-color;
    border-radius: 2px;
    
 }
 
 main {
     margin-bottom: 226px;
 }
 .contenue__ecout p, .contenue__apprend{
    margin-bottom: 113px;
    
    
 }
 
 .contenue__img{
     height: 400px;
     width: 100%; 
     
 }
 
 .button{
     text-align: center;
     background-color: $txt-color;
     text-decoration: none;
     padding: 20px 28px 20px 28px;
    margin: 0 auto 0 auto;
    
     color: $fond-color;
     border-radius: 20px;
 }

}


/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) { 


// header// // header// // header//

 p{
    font-size: $textpc;
    line-height: 1.5;
 
    padding-right: 22px;
    
 }
 .titre--deux{
    font-size: $titrepc-deux;
 
 }
 .titre--un{
    font-size: $titrepc-un;
 }
 
 header{
    
    
    margin-top: 22vh;
    
 }
 
 .fleche{
     width: 62px;
     margin-top: 35vh;
 
 }
 


    //main// //main// //main//

    .icone{
    margin-bottom: 62px;
    }

    .contenue{
      max-width: 900px;
      margin: auto;
    }

    .contenue__img{
        height: 800px;
        width: 100%; 
        
    }

    .contenue__ecout {
    margin-bottom: 124px;   
    }
    .contenue__ecout p, .contenue__apprend{
    margin-bottom: 124px;  
    }
    .contenue__txt{
       max-width: 70%;
    }
    .button:hover{
       background-color: $hover-color;
       color: $txt-color;
    }

    //footer// //footer// //footer//

    .footer__info {
    padding: 10px 0 10px 0;
    
    font-size: 20px;
        
    }



}