@import 'utils/variables';
@import 'components/type';



body{
     background-color: #182133;
}

//color// //color// //color// //color//



// header// // header// // header//

.logo {
    width: 320px;
}

p, .titre{
    color: #f7f7f7;
    font-family: 'Quicksand', sans-serif;
}

p{
    font-size: 18px;
}
.titre--H2{
    font-size: 36px;
}
.titre--H1{
    font-size: 51px;
}

.header{
    text-align: center;
    margin: 0px 18px 203px 18px;
    
}

//main// //main// //main//

.icone{
    height: 180px;
    margin: auto;
    display: flex;
    margin-bottom: 51px;
}

.contenue{
    margin: 0px 18px 0px 18px;


}

.contenue__ecout {
    margin-bottom: 102px;
    border-bottom: 2px solid #f7f7f7;
    
}
.contenue__ecout p, .contenue__apprend{
    margin-bottom: 102px;
    
    
}


//footer// //footer// //footer//

.footer__info {
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 20px;
     font-weight: normal;
    text-decoration: none;
}

.footer__info p{
    width: 100%;
}

.footer__info--logodwm{
    height: 40px;
    width: 60px;
}


//grid nav footer//

.navfo__liste{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 36px;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 18px;
    width: max-content;
   
}

.navfo__liste--credits {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

.navfo__liste--ui {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
}

.navfo__liste--case {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
}