$txt-color:#f7f7f7;
$fond-color: #182133;
$hover-color: #697a97;

$textmob: 18px;
$titremob-un: 51px;
$titremob-deux: 36px;
$titremob-trois: 25px; 

$texttab: 20px;
$titretab-un: 57px;
$titretab-deux: 40px;
$titretab-trois: 28px;

$textpc: 22px;
$titretpc-un: 62px;
$titretpc-deux: 44px;
$titretpc-trois: 31px;